/* PHASE 2: Notifications */
.badge {
  background-color: black;
  border-radius: 50%;
  font-size: 14px;
  margin-left: 4px;
  padding: 1px 6px;
}


.header-list li:first-of-type:hover .notifications {
  /*position: relative;*/
  display: block;
}
.header-list li:first-of-type:hover .badge {
  background-color: #f00;
}

.notifications {
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #ccc;
  color: black;
  display: none;
  position: absolute;
}

.notifications li {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding: 10px 20px;
}
